


    <!-- Sidebar -->
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
  
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
              <div class="logo">
                <a href="javascript:;" class="simple-text">
                    <img src="../assets/img/logo.jpg" alt="Your Logo">
                </a>
            </div>   
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/admin']">
                          <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    
                   
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
          <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid">
        
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                       
                     
                        <li class="nav-item">
                            <a  class="nav-link">
                                <i class="nc-icon nc-zoom-split"></i>
                                <span class="d-lg-block">&nbsp;Search</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                      
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <span class="no-icon">Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  
      <div class="container-fluid">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Specielite</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addSpecielite" type="submit">Add Specielite</button>
              </div>
            </div>
        </nav>
    
    
    
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Code</th>
                <th scope="col">Niveau</th>
                <th scope="col">Responsable</th>
                <th scope="col">Etudiant</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let specielite of speList">
                <td>{{specielite.id}}</td>
                <td>{{specielite.name}}</td>
                <td>{{specielite.description}}</td>
                <td>{{specielite.code}}</td>
                <td>{{specielite.niveau}}</td>
                <td>{{specielite.responsable}}</td>
                <td>{{specielite.etudiant}}</td>
                
                <td>
                    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editSpecielite" (click)="editSpecielite(specielite)">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteSpecielite(specielite)">Delete</button>
                </td>
    
              </tr>
              
            </tbody>
          </table>
    
         
       <!-- Add employee modal -->
       <div class="modal fade"  classe="text-center"id="addSpecielite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new Specielite</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form [formGroup]="speDetail">
                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name </label>
                        <input type="text" formControlName="name" class="form-control" id="name">
                        <div *ngIf="speDetail.get('name')?.errors?.['required']" class="text-danger">Name is required</div>
                        <div *ngIf="speDetail.get('name')?.errors?.['pattern']" class="text-danger">Name Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Description  </label>
                        <input type="text" formControlName="description" class="form-control" id="description">
                       
                        <div *ngIf="speDetail.get('description')?.errors?.['required']" class="text-danger">Description is required</div>
                        <div *ngIf="speDetail.get('description')?.errors?.['pattern']" class="text-danger">Description Invalid</div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Code</label>
                      <input type="code" formControlName="code" class="form-control" id="code"aria-describedby="emailHelp" >
                      <div *ngIf="speDetail.get('code')?.errors?.['required']" class="text-danger">Code is required</div>
                <div *ngIf="speDetail.get('code')?.errors?.['pattern']" class="text-danger">Code must be 4 Number</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Niveau</label>
                        <input type="text" formControlName="niveau" class="form-control" id="niveau">
                        <div *ngIf="speDetail.get('niveau')?.errors?.['required']" class="text-danger">Niveau is required</div>
                        <div *ngIf="speDetail.get('niveau')?.errors?.['pattern']" class="text-danger">Niveau Invalid</div>
                      </div>
                      
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Responsable</label>
      
                        <input type="text" formControlName="responsable" class="form-control" id="responsable"aria-describedby="emailHelp" >
                        <div *ngIf="speDetail.get('responsable')?.errors?.['required']" class="text-danger">responsable is required</div>
                        <div *ngIf="speDetail.get('responsable')?.errors?.['pattern']" class="text-danger">responsable Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Etudiant</label>
                       
                     <input type="text" formControlName="etudiant" class="form-control" id="email"aria-describedby="emailHelp" >
                     <div *ngIf="speDetail.get('responsable')?.errors?.['required']" class="text-danger">responsable is required</div>
                     <div *ngIf="speDetail.get('responsable')?.errors?.['pattern']" class="text-danger">responsable Invalid</div>
                    </div>

                      
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addSpecielite()">Add Specielite</button>
                      </div>
                  </form>
    
            </div>
            
          </div>
        </div>
      </div>
    
     
      <!-- Edit employee modal -->
      <div class="modal fade" id="editSpecielite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit specielite details</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
                <form [formGroup]="speDetail">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name </label>
                    <input type="text" formControlName="name" class="form-control" id="name">
                    <div *ngIf="speDetail.get('name')?.errors?.['required']" class="text-danger">Name is required</div>
                    <div *ngIf="speDetail.get('name')?.errors?.['pattern']" class="text-danger">Name Invalid</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Description  </label>
                    <input type="text" formControlName="description" class="form-control" id="description">
                   
                    <div *ngIf="speDetail.get('description')?.errors?.['required']" class="text-danger">Description is required</div>
                    <div *ngIf="speDetail.get('description')?.errors?.['pattern']" class="text-danger">Description Invalid</div>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Code</label>
                  <input type="code" formControlName="code" class="form-control" id="code"aria-describedby="emailHelp" >
                  <div *ngIf="speDetail.get('code')?.errors?.['required']" class="text-danger">Code is required</div>
            <div *ngIf="speDetail.get('code')?.errors?.['pattern']" class="text-danger">Code must be 4 Number</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Niveau</label>
                    <input type="text" formControlName="niveau" class="form-control" id="niveau">
                    <div *ngIf="speDetail.get('niveau')?.errors?.['required']" class="text-danger">Niveau is required</div>
                    <div *ngIf="speDetail.get('niveau')?.errors?.['pattern']" class="text-danger">Niveau Invalid</div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Responsable</label>
  
                    <input type="text" formControlName="responsable" class="form-control" id="responsable"aria-describedby="emailHelp" >
                    <div *ngIf="speDetail.get('responsable')?.errors?.['required']" class="text-danger">responsable is required</div>
                    <div *ngIf="speDetail.get('responsable')?.errors?.['pattern']" class="text-danger">responsable Invalid</div>
                  </div>
                     
                     
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateSpecielite()" data-bs-dismiss="modal">Update </button>
                      </div>
                  </form>
    
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
    

