


    <!-- Sidebar -->
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
  
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
              <div class="logo">
                <a href="javascript:;" class="simple-text">
                    <img src="../assets/img/logo.jpg" alt="Your Logo">
                </a>
            </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/admin']">
                          <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
          <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid">
             
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                       
                    
                        <li class="nav-item">
                            <a  class="nav-link">
                                <i class="nc-icon nc-zoom-split"></i>
                                <span class="d-lg-block">&nbsp;Search</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <span class="no-icon">Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  
      <div class="container-fluid">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">classe</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addClasse" type="submit">Add Classe</button>
              </div>
            </div>
        </nav>
    
        <div>
          <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
          
        </div>
    
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">name</th>
                <th scope="col">specielite</th>
                <th scope="col">niveau</th>
                <th scope="col">etudiant</th>
               
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classe of claList | search: searchText">
                <td>{{classe.id}}</td>
                <td>{{classe.name}}</td>
                <td>{{classe.specielite}}</td>
                <td>{{classe.niveau}}</td>
                <td>{{classe.etudiant}}</td>
                
                
                <td>
                    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editClasse" (click)="editClasse(classe)">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteClasse(classe)">Delete</button>
                    
                  </td>
    
              </tr>
              
            </tbody>
          </table>
    
      
       <!-- Add employee modal -->
       <div class="modal fade"  classe="text-center"id="addClasse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new Classe</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form [formGroup]="claDetail">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name </label>
                    <input type="text" formControlName="name" class="form-control" id="name" >
                    <div *ngIf="claDetail.get('name')?.errors?.['required']" class="text-danger">Name is required</div>
                    <div *ngIf="claDetail.get('name')?.errors?.['pattern']" class="text-danger">Name Invalid</div>
                  </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">specielite </label>
                        <input type="text" formControlName="specielite" class="form-control" id="specielite" >
                        <div *ngIf="claDetail.get('specielite')?.errors?.['required']" class="text-danger">Specielite is required</div>
                        <div *ngIf="claDetail.get('specielite')?.errors?.['pattern']" class="text-danger">Specielite Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">niveau</label>
                        <input type="email" formControlName="niveau" class="form-control" id="niveau"aria-describedby="emailHelp" >
                        <div *ngIf="claDetail.get('niveau')?.errors?.['required']" class="text-danger">Niveau is required</div>
                        <div *ngIf="claDetail.get('niveau')?.errors?.['pattern']" class="text-danger">Niveau Invalid</div>
                      </div>
                    
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">etudiant</label>
                        <input type="email" formControlName="etudiant" class="form-control" id="etudiant"aria-describedby="emailHelp" >
                       
                      </div>
                     
                      
                     
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addClasse()">Add classe</button>
                      </div>
                  </form>
    
            </div>
            
          </div>
        </div>
      </div>
    
     
      <!-- Edit employee modal -->
      <div class="modal fade" id="editClasse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit classe details</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
                <form [formGroup]="claDetail">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name </label>
                    <input type="text" formControlName="name" class="form-control" id="name" >
                    <div *ngIf="claDetail.get('name')?.errors?.['required']" class="text-danger">Name is required</div>
                    <div *ngIf="claDetail.get('name')?.errors?.['pattern']" class="text-danger">Name Invalid</div>
                  </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">specielite </label>
                        <input type="text" formControlName="specielite" class="form-control" id="specielite" >
                        <div *ngIf="claDetail.get('specielite')?.errors?.['required']" class="text-danger">Specielite is required</div>
                        <div *ngIf="claDetail.get('specielite')?.errors?.['pattern']" class="text-danger">Specielite Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">niveau</label>
                        <input type="email" formControlName="niveau" class="form-control" id="niveau"aria-describedby="emailHelp" >
                        <div *ngIf="claDetail.get('niveau')?.errors?.['required']" class="text-danger">Niveau is required</div>
                        <div *ngIf="claDetail.get('niveau')?.errors?.['pattern']" class="text-danger">Niveau Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">etudiant</label>
                        <input type="email" formControlName="etudiant" class="form-control" id="etudiant"aria-describedby="emailHelp" >
                       
                      </div>
                   
                     
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateClasse()" data-bs-dismiss="modal">Update </button>
                      </div>
                  </form>
    
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
    
    <button (click)="presence()" class="btn btn-info" style="margin-left: 10px">Retour a la liste de confirmation presence</button>