

    <!-- Sidebar -->
    
  
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
  
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
              <div class="logo">
                <a href="javascript:;" class="simple-text">
                    <img src="../assets/img/logo.jpg" alt="Your Logo">
                </a>
            </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/admin']">
                          <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
          <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class="container-fluid">
                <a class="navbar-brand" href="#pablo">Template</a>
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-palette"></i>
                                <span class="d-lg-none">Dashboard</span>
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-planet"></i>
                                <span class="notification">5</span>
                                <span class="d-lg-none">Notification</span>
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#">Notification 1</a>
                                <a class="dropdown-item" href="#">Notification 2</a>
                                <a class="dropdown-item" href="#">Notification 3</a>
                                <a class="dropdown-item" href="#">Notification 4</a>
                                <a class="dropdown-item" href="#">Another notification</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nc-icon nc-zoom-split"></i>
                                <span class="d-lg-block">&nbsp;Search</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <span class="no-icon">Account</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="no-icon">Dropdown</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <span class="no-icon">Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    <ul>
    <div class="container-fluid" >
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cours </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEnsiegnant" type="submit">Add Cours</button>
          </div>
        </div>
    </nav>
    
    
    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> ID</th>
            <th scope="col">ensiegnant</th>
            <th scope="col">matiere</th>
            <th scope="col">classe</th>
            <th scope="col">semestre</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cours of couList">
            <td>{{cours.id}}</td>
            <td>{{cours.ensiegnant}}</td>
            <td>{{cours.matiere}}</td>
            <td>{{cours.classe}}</td>
            <td>{{cours.semestre}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editCours" (click)="editCours(cours)">Edit cour</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteCours(cours)">Delete</button>
            </td>
    
          </tr>
          
        </tbody>
      </table>
    
    
      
      <!-- Add employee modal -->
      <div class="modal fade"  classe="text-center"id="addEnsiegnant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new cour</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form [formGroup]="couDetail">
   
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ensiegnant</label>
                        <input type="text" formControlName="ensiegnant" class="form-control" id="ensiegnant" >
                        <div *ngIf="couDetail.get('ensiegnant')?.errors?.['required']" class="text-danger">Ensiegnant is required</div>
                        <div *ngIf="couDetail.get('ensiegnant')?.errors?.['pattern']" class="text-danger">Ensiegnant Invalid</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">matiere </label>
                      <input type="text" formControlName="matiere" class="form-control" id="matiere" >
                      <div *ngIf="couDetail.get('matiere')?.errors?.['required']" class="text-danger">Matiere is required</div>
                    <div *ngIf="couDetail.get('matiere')?.errors?.['pattern']" class="text-danger">Matiere Invalid</div>
                    </div>
                      <label for="exampleInputEmail1" class="form-label">classe </label>
                      <select formControlName="classe" id="exampleInputEmail1" class="form-control" >
                     
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                      </select>
                
                    <div class="mb-3">
                   
                    </div>
                    <div class="mb-3">
                      <label for="semestre"> semestre :</label>
                      <select id="semestre" name="semestre" formControlName="semestre">
                          <option value="sem1">Semestre 1</option>
                          <option value="sem2">Semestre 2</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCours()">Add cours</button>
                      </div>
                  </form>
    
            </div>
            
          </div>
        </div>
      </div>
    
     
      <!-- Edit employee modal -->
      <div class="modal fade" id="editCours" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit ecours details</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
                <form [formGroup]="couDetail">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ensiegnant</label>
                    <input type="text" formControlName="ensiegnant" class="form-control" id="ensiegnant" >
                    <div *ngIf="couDetail.get('ensiegnant')?.errors?.['required']" class="text-danger">Ensiegnant is required</div>
                    <div *ngIf="couDetail.get('ensiegnant')?.errors?.['pattern']" class="text-danger">Ensiegnant Invalid</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">matiere </label>
                  <input type="text" formControlName="matiere" class="form-control" id="matiere" >
                  <div *ngIf="couDetail.get('matiere')?.errors?.['required']" class="text-danger">Matiere is required</div>
                <div *ngIf="couDetail.get('matiere')?.errors?.['pattern']" class="text-danger">Matiere Invalid</div>
                </div>
                  <label for="exampleInputEmail1" class="form-label">classe </label>
                  <select formControlName="classe" id="exampleInputEmail1" class="form-control" >
                 
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="3">D</option>
                    <option value="3">E</option>
                    <option value="3">F</option>
                    <option value="3">G</option>
                  </select>
            
                <div class="mb-3">
               
                </div>
                <div class="mb-3">
                  <label for="semestre"> semestre :</label>
                  <select id="semestre" name="semestre" formControlName="semestre">
                      <option value="sem1">Semestre 1</option>
                      <option value="sem2">Semestre 2</option>
                  </select>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateCours()" data-bs-dismiss="modal">Update </button>
                      </div>
                  </form>
    
            </div>
          </div>
        </div>
      </div>
    
    
    </div>
    <div class="content">
      <div class="container-fluid">
          <div class="section">
          </div>
          
      </div>
  </div>
  
    
